module cloudstack-agent 1.0;

require {
	type nfs_t;
	type system_conf_t;
	type mount_t;
	type qemu_t;
	class file unlink;
	class filesystem getattr;
}

#============= mount_t ==============
allow mount_t system_conf_t:file unlink;

#============= qemu_t ==============
allow qemu_t nfs_t:filesystem getattr;
